section {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1
}

.content-container {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center
}

#landing-page {
  height: 100%;
  width: 100%;
  top: 0;
  position: absolute
}

#landing-page-section {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: calc(100% - 30px);
  left: 0;
  position: relative
}

#landing-content-svg {
  width: 550px;
  max-width: 45%;
  max-height: 53%;
  position: relative
}

.landing-headline {
  transform-origin: left;
  font-size: 64px;
  font-weight: 600;
  fill: #091434;
  letter-spacing: -.5px
}

.landing-subheading {
  font-size: 17px;
  fill: #7c8594;
  transform-origin: left
}


.landing-slow-transition {
  transition: top .7s cubic-bezier(.645, .045, .355, 1)
}

.frist-page {
  width: 50%;
  height: 50%;
}