#hover-icon {
  position: absolute;
  border-radius: 50%;
  border-style: solid;
  top: 0;
  left: 0;
  z-index: 999;
  transform: translate(-50%, -50%) scale(0);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: height .2s, width .2s, border-color .2s, border-width .2s;
}

.hover-icon {
  border-width: 7px;
  height: 0px;
  width: 0px;
  border-color: rgb(255, 146, 62);
  opacity: 1;
  translate: none;
  rotate: none;
  scale: none;
  background: transparent;
}

.hover-spread {
  height: 16px;
  min-width: 16px;
  background: #FF923E;
  position: absolute;
  opacity: .1;
  border-radius: 50%
}